In [27]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [61]:
df = pd.read_csv("data-set.csv")
df

,id,name,categoryName,subCategory,brand,price
0,9,golden necklace,jewellery,necklace,NaN,45000
1,3,playstation 5,gaming,console,NaN,75000
2,5865,macbook air m2,electronics,laptop,apple,100000
3,6,golden retriever puppy,pets and supplies,puppy,NaN,21000
4,11,macbook air m1,electronics,laptop,apple,115000
5,12,mechanical gaming keyboard,accessories,keyboard,NaN,1700
6,5,iphone 14,electronics,phone,apple,115000
7,16,colorful betta fish,pets and supplies,fish,NaN,200
8,27,asus zenbook 14 UX434,electronics,laptop,asus,103000
9,24,e58 drone with double battery,electronics,drone,NaN,3200
10,8,harry potter and the order of the phoenix,education,book,NaN,850
11,21,study table for students,furnishing,table,NaN,3500
12,17,wooden chess board,board games,chess,NaN,1200
13,22,gaming chair for gamer folks,furnishing,gaming chair,NaN,12000
14,20,nutritious dog food,pets and supplies,dog food,NaN,750
15,23,RC toy helicopter,kids and toys,helicopter,NaN,1500
16,25,DMI dart board,sports,dart,NaN,1700
17,19,8L Digital Air Fryer with Viewing Window,home and kitchen,air fryer,NaN,35000
18,10,premium cricket bat,sports,cricket,NaN,1500
19,14,sony headphones,electronics,headphone,sony,2500
20,13,acoustic guitar,music and instruments,guitar,NaN,4500
21,28,Garden Sprinkler With Ground Plug Pipe Connect...,home tools,sprinkler,NaN,550

In [8]:
features = ['name', 'categoryName', 'subCategory', 'brand', 'price']
for feature in features:
    df[feature] = df[feature].fillna('')

In [15]:
def combined_features(row):
    return row['name'] + " " + row['categoryName'] + " " + row['subCategory'] + " " + row['brand'] + " " + str(row['price'])
df["combined_features"] = df.apply(combined_features, axis =1)

In [19]:
cv = CountVectorizer()

In [20]:
count_matrix = cv.fit_transform(df["combined_features"])

In [22]:
count_array = count_matrix.toarray()

In [28]:
cosine_sim = cosine_similarity(count_matrix)

In [30]:
vis = pd.DataFrame(data = cosine_sim)

In [31]:
vis

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1.000000,0.000000,0.119523,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,1.000000,0.000000,0.000000,0.176777,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.277350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.119523,0.000000,1.000000,0.000000,0.000000,0.000000,0.300000,0.000000,0.000000,0.087706,...,0.000000,0.000000,0.263117,0.100000,0.000000,0.076696,0.000000,0.000000,0.105409,0.000000
3,0.000000,0.000000,0.000000,1.000000,0.000000,0.462910,0.000000,0.239046,0.119523,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.183340,0.000000,0.133631,0.000000,0.000000
4,0.000000,0.176777,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.196116,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.462910,0.000000,1.000000,0.000000,0.258199,0.129099,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.144338,0.000000,0.000000
6,0.000000,0.000000,0.300000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.087706,...,0.000000,0.000000,0.263117,0.100000,0.000000,0.076696,0.000000,0.000000,0.105409,0.000000
7,0.000000,0.000000,0.000000,0.239046,0.000000,0.258199,0.000000,1.000000,0.100000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111803,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.119523,0.000000,0.129099,0.000000,0.100000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.076696,0.000000,0.111803,0.000000,0.074536
9,0.000000,0.000000,0.087706,0.000000,0.000000,0.000000,0.087706,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.076923,0.087706,0.000000,0.067267,0.000000,0.000000,0.092450,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.184900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.213201,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.277350,0.000000,0.000000,0.196116,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.263117,0.000000,0.000000,0.000000,0.263117,0.000000,0.000000,0.076923,...,0.000000,0.000000,1.000000,0.087706,0.000000,0.067267,0.000000,0.000000,0.092450,0.000000
14,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.087706,...,0.000000,0.000000,0.087706,1.000000,0.000000,0.076696,0.111803,0.000000,0.105409,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.213201,0.000000,0.000000,0.000000,1.000000,0.000000,0.125000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.076696,0.183340,0.000000,0.000000,0.076696,0.000000,0.076696,0.067267,...,0.000000,0.000000,0.067267,0.076696,0.000000,1.000000,0.000000,0.000000,0.080845,0.114332
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.111803,0.125000,0.000000,1.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.133631,0.000000,0.144338,0.000000,0.111803,0.111803,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
19,0.000000,0.000000,0.105409,0.000000,0.000000,0.000000,0.105409,0.000000,0.000000,0.092450,...,0.000000,0.000000,0.092450,0.105409,0.000000,0.080845,0.000000,0.000000,1.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.074536,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.114332,0.000000,0.000000,0.000000,1.000000

In [55]:
def get_name_from_id(id):
    return df[df.id == id]["name"].values[0]

product_index = get_name_from_id(11)
product_index

'macbook air m1'

In [59]:
similar_products = list(enumerate(cosine_sim[]))
sorted_similar_products = sorted(similar_products, key=lambda x:x[1], reverse=True)
sorted_similar_products

[(11, 1.0),
 (15, 0.21320071635561041),
 (0, 0.0),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.0),
 (6, 0.0),
 (7, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (16, 0.0),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0),
 (20, 0.0)]